#root {
  max-width: 1980px;
  margin: 0 auto;
  text-align: center;
}

.black-bubble {
  background: rgba(44, 42, 42, 0.815); 
  border-radius: 20px; 
  padding: 1.125rem; 
  color: white; 
}

.white-bubble {
  background: rgba(242, 245, 245, 0.873); 
  border-radius: 20px; 
  padding: 2rem; 
  color: black;
}

.red-bubble {
  background: rgba(181, 55, 9, 0.862); 
  border-radius: 20px; 
  padding: 2rem; 
  color: white;
}